# Dependency directories
node_modules/
jspm_packages/

# Local databases & journal files
queuectl.db
queuectl.db-wal
queuectl.db-shm

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System files
.DS_Store
Thumbs.db
